@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="display-4">Make Study Time A Breeze</p>
    <p>The Time Web App will ensure your time is managed efficiently </p>
</div>
